/*선인장 컬러토큰 정의*/
:root{
    --saboten-white: #fff;
    --saboten-black: #000;

    --saboten-green-100: #E7F7EF;
    --saboten-green-200: #AAE6C9;
    --saboten-green-300: #79D3A8;
    --saboten-green-400: #2ECB7F;
    --saboten-green-500: #00C064;
    --saboten-green-600: #009A50;
    --saboten-green-700: #00733C;
    --saboten-green-800: #004D28;
    --saboten-green-900: #002614;

    --saboten-yello-100: #FFF9E1;
    --saboten-yello-200: #FFF4C3;
    --saboten-yello-300: #FFEEA4;
    --saboten-yello-400: #FFE986;
    --saboten-yello-500: #FFE368;
    --saboten-yello-600: #CCB653;
    --saboten-yello-700: #99883E;
    --saboten-yello-800: #665B2A;
    --saboten-yello-900: #332D15;

    --saboten-gray-100: #ECECEC;
    --saboten-gray-200: #D9D9D9;
    --saboten-gray-300: #C6C6C6;
    --saboten-gray-400: #B3B3B3;
    --saboten-gray-500: #A0A0A0;
    --saboten-gray-600: #808080;
    --saboten-gray-700: #606060;
    --saboten-gray-800: #404040;
    --saboten-gray-900: #202020;

    --box-shadow: lightgray;
    --box-dark-shadow: #A0A0A0;
    --saboten-background: #F5F5F5 ;
}